<section class="cta-subscribe bg-subscribe overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mr-auto">
				<!-- Subscribe Content -->
				<div class="content">
					<h3>Subscribe to Our <span class="alternate">Newsletter</span></h3>
					<p>Subscribe to our newsletter to get your weekly dose of content directly to your browser.</p>
				</div>
			</div>
			<div class="col-md-6 ml-auto align-self-center">
				<!-- Subscription form -->
				<form action="" method="POST" class="row" id="newsletter-form">
					<div class="col-lg-8 col-md-12">
						<input type="email" name="email" id="email" class="form-control main white mb-lg-0" placeholder="Email">
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<button class="btn btn-main-md" type="submit">Subscribe</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>