<% console.log(speaker) %>
<div class="col-lg-3 col-md-4 col-sm-6">
    <!-- Speaker 1 -->
    <div class="speaker-item">
      <div class="image">
        <img src="<%= speaker.img %>" alt="speaker photo" class="img-fluid">
        <div class="primary-overlay"></div>
        <div class="socials">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="content text-center">
        <h5><a href="single-speaker.html"><%= speaker.name %></a></h5>
        <p><%= speaker.title %></p>
      </div>
    </div>
  </div>