<%- include('includes/head.ejs') %>
</head>
<body>
  <h1>Add product</h1>
  <a href="/">Shop</a>
  <form action="/product" method="POST">
    <input type="text" name="title">
    <button type="submit" class="btn">Add</button>
  </form>
  <%- include('includes/end.ejs') %>