<%- include('includes/head.ejs') %>
</head>
<body>
  <a href="/add-product">Add product</a>
  <h1>Shop</h1>
  <main>
    <% if (products.length > 0){ %>
      <div class="container">
        <article>
          <h2><% pageTitle %></h2>
        </article>
      </div>
    <% } %>
  </main>
  <%- include('includes/end.ejs') %>