<% include partials/header %>
<% include partials/navigation %>
<div class="container">
  <h2>Summary</h2>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed">Test Ticket</li>
    <li class="list-group-item d-flex justify-content-between lh-condensed"></li>
    <li class="list-group-item d-flex justify-content-between lh-condensed"></li>
  </ul>
</div>
<% include partials/footer %>