<% include partials/header %>
<% include partials/navigation %>
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Contact Us</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
				  <li class="breadcrumb-item active">Contact Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<section class="section contact-form">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Get in <span class="alternate">Touch</span></h3>
					<p>We take commitment to our clients seriously. If you need our help with your user account, have questions about how to use platform or are experiencing technical difficulties, please don't hestitate to contact us.</p>
				</div>
			</div>
		</div>
		<% if (errorMessage) { %>
			<div class="form-message"><%= errorMessage %></div>
		<% } %>
		<form action="#" method="POST" class="row" id="contact-form">
			<div class="col-md-6">
				<input type="text" class="form-control main" name="name" id="name" placeholder="Name">
			</div>
			<div class="col-md-6">
				<input type="email" class="form-control main" name="email" id="email" placeholder="Email">
			</div>
			<div class="col-md-12">
				<input type="text" class="form-control main" name="phone" id="phone" placeholder="Phone">
			</div>
			<div class="col-md-12">
				<textarea name="message" id="message" class="form-control main" rows="10" placeholder="Your Message"></textarea>
			</div>
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-main-md" id="contact-btn">Send Message</button>
			</div>
		</form>
	</div>
</section>

<!--================================
=            Google Map            =
=================================-->

<% include partials/map %>

<!--====  End of Google Map  ====-->
<% include partials/footer %>
<script src="/js/custom.js"