<% include partials/header %>
<% include partials/navigation %>
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Our Speaker</h3>
				</div>
				<ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="/">Home</a></li>
				  <li class="breadcrumb-item active">Our Speaker</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--==============================
=            Speakers            =
===============================-->

<section class="section speakers white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title">
					<h3>Who <span class="alternate">Speaking?</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<% speakers.map(speaker => { %>
				<%- include('partials/speaker', {speaker:speaker}) %>
			<% }) %>
		</div>
	</div>
</section>

<!--====  End of Speakers  ====-->

<!--==============================================
=            Call to Action Subscribe            =
===============================================-->

<% include partials/newsletter %>

<!--====  End of Call to Action Subscribe  ====-->

<!--================================
=            Google Map            =
=================================-->

<% include partials/map %>

<!--====  End of Google Map  ====-->
<% include partials/footer %>